.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
.idea/
*.egg-info/
build/
dist/
*.exe
*.pt
python-*.exe
detected_faces/
preprocessed_faces/
images/
labeled_images/
face_coordinates/
best*.pt
yolov5-master/
